`<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "https://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
    <head>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
        <meta content="IE=edge" http-equiv="X-UA-Compatible">
        <title><%= process.env.APP_NAME %> - Reset Password</title>
    </head>
    <body>
            <div style="overflow: hidden;">
                <div style="margin:0;padding:0">
                <table cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:collapse;table-layout:fixed;min-width:320px;width:100%;background-color:#f2f4f6">
                    <tbody>
                    <tr>
                        <td>
                        <div role="banner">
                            <div style="Margin:0 auto;max-width:560px;min-width:280px;width:280px;width:calc(28000% - 167440px)">
                            <div style="border-collapse:collapse;display:table;width:100%">
                                <div style="display:table-cell;Float:left;font-size:12px;line-height:19px;max-width:280px;min-width:140px;width:140px;width:calc(14000% - 78120px);padding:10px 0 5px 0;color:#717a8a;font-family:sans-serif">
                                <p style="Margin-top:0;Margin-bottom:0"><%= process.env.APP_NAME %> - Reset Password</p>
                                </div>
                                <div style="display:table-cell;Float:left;font-size:12px;line-height:19px;max-width:280px;min-width:139px;width:139px;width:calc(14100% - 78680px);padding:10px 0 5px 0;text-align:right;color:#717a8a;font-family:sans-serif">
                                </div>
                            </div>
                            </div>
                        </div>
                        <div role="section">
                            <div style="background-color:#ffffff">
                            <div style="Margin:0 auto;max-width:600px;min-width:320px;width:320px;width:calc(28000% - 167400px);word-wrap:break-word;word-break:break-word">
                                <div style="border-collapse:collapse;display:table;width:100%">
                                <div style="max-width:600px;min-width:320px;width:320px;width:calc(28000% - 167400px);text-align:left;color:#111324;font-size:16px;line-height:24px;font-family:sans-serif">
                                    <div style="Margin-left:20px;Margin-right:20px">
                                    <div style="line-height:20px;font-size:1px">
                                        &nbsp;
                                    </div>
                                    </div>
                                    <div style="Margin-left:20px;Margin-right:20px">
                                    <div>
                                        <p style="Margin-top:0;Margin-bottom:20px">Hi <%= name %>,</p>
                                    </div>
                                    </div>
                                    <div style="Margin-left:20px;Margin-right:20px">
                                    <div style="line-height:1px;font-size:1px">
                                        &nbsp;
                                    </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                            </div>
                            <div style="background-color:#ffffff">
                            <div style="Margin:0 auto;max-width:600px;min-width:320px;width:320px;width:calc(28000% - 167400px);word-wrap:break-word;word-break:break-word">
                                <div style="border-collapse:collapse;display:table;width:100%">
                                <div style="max-width:600px;min-width:320px;width:320px;width:calc(28000% - 167400px);text-align:left;color:#111324;font-size:16px;line-height:24px;font-family:sans-serif">
                                    <div style="Margin-left:20px;Margin-right:20px">
                                    <div style="line-height:2px;font-size:1px">
                                        &nbsp;
                                    </div>
                                    </div>
                                    <div style="Margin-left:20px;Margin-right:20px">
                                    <div>
                                        <h1 style="Margin-top:0;Margin-bottom:20px;font-style:normal;font-weight:normal;color:#111324;font-size:22px;line-height:31px;text-align:left">You request to reset password.</h1>
                                    </div>
                                    </div>
                                    <div style="Margin-left:20px;Margin-right:20px">
                                    <div>
                                        <p style="Margin-top:0;Margin-bottom:20px">Please confirm your reset password by clicking on the following link.</p>
                                    </div>
                                    </div>
                                    <div style="Margin-left:20px;Margin-right:20px">
                                    <div style="Margin-bottom:20px;text-align:left">
                                        <a href="<%= url %>" style="border-radius:4px;display:inline-block;font-size:14px;font-weight:bold;line-height:24px;padding:12px 24px;text-align:center;text-decoration:none!important;color:#ffffff!important;background-color:#7856ff;font-family:sans-serif"
                                            target="_blank">Reset Password</a>
                                    </div>
                                    </div>
                                    
                                </div>
                                </div>
                            </div>
                            </div>
                            <div role="contentinfo">
                            <div style="Margin:0 auto;max-width:600px;min-width:480px;width:480px;width:calc(28000% - 167400px);word-wrap:break-word;word-break:break-word">
                                <div style="border-collapse:collapse;display:table;width:100%">
                                <div style="text-align:left;font-size:12px;line-height:19px;color:#717a8a;font-family:sans-serif;Float:left;max-width:560px;min-width:560px;width:560px;width:calc(8000% - 47600px)">
                                    <div style="Margin-left:20px;Margin-right:20px;Margin-top:10px;Margin-bottom:10px">
                                    <div style="font-size:12px;line-height:19px">
                                        <div>
                                        <strong><%= process.env.APP_NAME %></strong> <br>
                                        Footer app
                                        </div>
                                    </div>
                                    <div style="font-size:12px;line-height:19px;Margin-top:18px"></div>
                                    </div>
                                </div>
                                </div>
                            </div>
                            </div>
                        </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                </div>
            </div>
    </body>
</html>`